h1{
        font-family:Fantasy;
        text-align:center;
        background-attachment: fixed;
        background-color: deepskyblue;
        border-radius: 1000px;
        font-style: oblique;
        margin:0.1cm;
        padding-top: 0.2cm;
}
img{
    float: right;
    border-radius: 50px;
    width:500px;
    padding-top:0.5cm;
}
h2{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}
h3{
    font-size: 50px;
}
video {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 500px;
}
.img1{
  float: center;
  width:500px;
}
.img2{
  float:right;
  width:500px;
}